.button--transparent{
    border-radius: $border-radius-1;
    transition: .3s;
    @include styleButton($color-white-0,transparent, $color-white-0,$fs-0,$fw-2,$pd-0 - 4, $pd-1 );
}
.button--transparent{
    &:hover{
        background-color: $color-green-0;
        border-color: $color-green-0;
    }
}
.button--green{
    @include styleButton($color-white-0, $color-green-0, $color-green-0, $fs-1,$fw-2, $pd-5 - 3, $pd-2);
}
.button--green{
    &:hover{
        background-color: $color-green-4;
        border-color: $color-green-4;
    }
}
.button--green-banner{
    @include styleButton($color-white-0, $color-green-0, $color-green-0, $fs-1,$fw-2, $pd-0 , $pd-1 + 2);
    border-radius: $border-radius-1;
    letter-spacing: .5px;
}
.button--green-banner{
    &:hover{
        background-color: $color-green-4;
        border-color: $color-green-4;
        color: $color-white-0
    }
}
.button--white{
    @include styleButton($color-blue-5, $color-white-0, $color-white-0, $fs-1,$fw-2, $pd-0 , $pd-1 + 2);
    letter-spacing: .5px;
    border-radius: $border-radius-1;
    transition: .3s;
}
.button--white{
    &:hover{
        background-color: $color-blue-6;
        border-color: $color-blue-6;
        color: $color-blue-7;
    }
}
