.card{
    border: none;
    margin-bottom: $pd-7;
    box-shadow: 0 0.14px 2.29266px rgba(0,0,0,0.03), 0 0.37px 4.42626px rgba(0,0,0,0.05), 0 3px 7px rgba(0,0,0,0.09);
   .card-body{
       padding-bottom: 0;
       img{
           width: 40px;
           height: 40px;
           margin-right: $pd-7;
           border-radius: 50%;
       }
       .card-info{
           h4{
               @include styleText($color-gray-1,$fs-0,$fw-1);
               margin-bottom: $mg-5;
           }
           p{
            @include styleText($color-gray-5,$fs-0,$fw-0);
            letter-spacing: .3px; 
           }
       }
       
   }
}
.card-guides{
    border: none;
    img{
        width: 100%;
    }
    .card-body{
        padding-left: 0;
        padding-right: 0;
        h4{
            @include styleText($color-gray-1,$fs-1 + 2, $fw-1);
            margin-bottom: 0;
            padding-bottom: $pd-0;
            letter-spacing: .5px;
        }
        p{
            @include styleText($color-gray-4,$fs-1 ,$fw-0);
           letter-spacing: .5px;
        }
    }
}