.intro{
    margin-bottom: $mg-2;
    background-color: $color-green-5;
    .intro__content{
       padding: $pd-10 $pd-3;
        
        .intro__left{
            padding-right: 11%;
            h2{
                @include styleText($color-gray-1,$fs-4,$fw-2);
                letter-spacing: 1px;
                padding-bottom: $pd-2;
            }
            .intro__item{
                h4{
                    i{
                        width: 22px;
                        height: 22px;
                        font-size: $fs-0 - 4;
                        color: $color-gray-4;
                        border-radius: 50%;
                        line-height: 19px;
                        border: 2px solid $color-gray-4;
                        text-align: center;
                        margin-right: $mg-0 - 5;
                    }
                    @include styleText ($color-gray-3,$fs-1 + 2, $fw-2);
                    letter-spacing: .5px;
                    word-spacing: 1px;
                }
                p{
                    font-size: $fs-1 + 2;
                    line-height: $line-height-3 + 2;
                    margin-bottom: 0;
                    padding-bottom: $pd-2;
                    font-weight: $fw-3;
                    letter-spacing: .5px;
                }
            }
        }
        .intro__right{
           position: absolute;
           top: 10%;
           right: -2%;
            
           img{
               padding: 0;
               height: 90%;
               width: 95%;
                position: relative;
                cursor: pointer;
           }
           i{
               position: absolute;
               top: 50%;
               right: 41%;
               transform: translate(-50%, -50%);
               font-size: $fs-4;
               color: $color-white-0;
               width: 80px;
               height: 80px;
               border-radius: 50%;
               line-height: 80px;
               background-color: $color-rgba-4;
               text-align: center;
               cursor: pointer;
           }
        }
    }
    @media screen and (max-width:899.98px){
        .intro{
           .intro__content{
               padding-bottom: 200px;
           }
        }
   } 
}
